@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-bg-color: #e2e8f0;
  --sidebar-bg-color: #1992d4;
  --accent-bg-color: #ffffff;
  --text-side-color: #ffffff;
  --text-color: #333333;
}

* {
  margin: 0;
}

body,
html {
  background-color: var(--main-bg-color);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.header,
.content {
  background-color: var(--accent-bg-color);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
}

.grid-container {
  display: grid;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  grid-template-columns: ;
}
